footer {
  /* background: linear-gradient(173deg, black, #05045e); */
  /* display: flex; */
  margin-top: 10px;
  /* background: linear-gradient(181deg, #090909, #070f72f5); */
  /* url(https://bit.ly/3rKcbFl); */
  text-align: center;
  padding: 12px;
}

