@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

* {
  margin: 0%;
  padding: 0%;
}
html{
  scroll-behavior: smooth;
}
/* nav{

}
.navbar{
    
} */
.item {
  display: inline;
}
.item a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 20px;
}
.navbar {
  margin: 10px;
}
.item a:hover {
  font-weight: 400;
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: revert;
}
.item i:hover {
  color: blue;
}
.item a:active {
  color: rgb(28, 95, 196);
}
